.borda1{
	border: 1px solid red;
}
.cabecalho, .linha, .servico{
	overflow: auto;
}
.linha{
	border-bottom: 2px solid black;
	margin-bottom: 5px;
}
.cabecalho{
	border: 1px solid black;
}
.cabecalho-direita{
	margin-top: 5px;
}
.servico, .finalizacao, .assinatura{
	margin-top: 5px !important;
	border: 1px solid black;
}
.conteudo{
	border-bottom: 1px dashed gray;
}
.rasura{
	margin-top: 65px !important;
	margin-bottom: 2px;
}
.error { border-color: #F70202 }
